body{
    background-color: blanchedalmond;
}

.container {
    display: flex;
    
}

.texto {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.imagem {
    flex: 1;
    text-align: center;
    padding: 100px;
}